<a href="#" onclick="signOut();">Sign out</a>
<script>
  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  }
</script>


<script>
    function onSignIn(googleUser) {
        var id_token = googleUser.getAuthResponse().id_token;

        fetch('/google_login', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ id_token: id_token })
        })
        .then(response => response.json())
        .then(data => {
            if (data.message) {
                alert(data.message);
                window.location.href = '/';
            } else {
                alert(data.error);
            }
        })
        .catch(error => console.error('Error:', error));
    }
</script>
